@use "../base/_typographie.scss" as *;
@use "../utilities/_mixins" as *;



@media (max-width:412px) {
    header{
        .header__title{
            display:flex;
            flex-direction: column;
            align-items: center;
            h1{
                @include Montserat();
                color: black; 
               
                i{
                    color: red;
                }  
            }
            .header__breadcrumb {
                padding: 0 .5rem;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                 }
                li:not(:last-child)::after {
                    display: inline-block;
                    margin: 0 .25rem;
                    content: "→";
                }
                                }
                    }
        }
    
    
 
        
   
}