@use "../base/_typographie.scss" as *;
@use "../utilities/_mixins.scss" as *;
@use "../utilities/_colors.scss" as *;
@use "../utilities/_variables.scss" as *;
@use "../layout/_flex.scss" as *;
@use "../components/_slider.scss" as *;

@include hero(url(../images/slide-1.jpg));


.description, .locationspecs{
    background-color: $darkest_background;
    @include Hind();
    color: $global_font_color;
}

// .booknow{
//     text
// }


@media (min-width:769px){
    header{
        .header__title{
            padding-top: 50px;
            padding-bottom: 90px;
            h1{
                font-size: $desktop-font-size-h1;
            }
            
                li{
                    font-size: 15px;
                    padding-right: 10px;
                }
            }
    }
}

@media (min-width:413px) and (max-width:768px){
    header{
        .header__title{
            padding-top: 50px;
            padding-bottom: 90px;
            h1{
                font-size: $mobile-font-size-h1;
            }

                li{

                    font-size: 12px;
                    padding-right: 10px;
                }
                                }
                    }
}        

@media (max-width:412px) {
    header{
        .header__title{
            padding-top: 50px;
            padding-bottom: 90px;
            h1{
                font-size: $mobile-font-size-h1;
            }


                li{
                    font-size: 12px;
                    padding-right: 10px;
                }
        }
    }
}

// header placement done

.roomspecs{
    @include flexrow;
    color: $global_font_color;
    justify-content: center;
} 