@use "../base/_typographie.scss" as *;
@use "../utilities/_mixins.scss" as *;
@use "../utilities/_colors.scss" as *;
@use "../utilities/_variables.scss" as *;
@use "../layout/_flex.scss" as *;
@use "../components/_slider.scss" as *;

header{
    background-image: url(../images/slide-1.jpg);
    @include hero_base;
}




@media (min-width:769px){
    header{
        .header__title{
            padding-top: 50px;
            padding-bottom: 90px;
            h1{
                font-size: $desktop-font-size-h1;
            }
            
                li{
                    font-size: 15px;
                    padding-right: 10px;
                }
                                }
                    }

@include roomspecs;
    }

@media (min-width:413px) and (max-width:768px){
    header{
        .header__title{
            padding-top: 50px;
            padding-bottom: 90px;
            h1{
                font-size: $mobile-font-size-h1;
            }

                li{

                    font-size: 12px;
                    padding-right: 10px;
                }
                                }
                    }

    @include roomspecs;
}

@media (max-width:412px) {
    header{
        .header__title{
            padding-top: 50px;
            padding-bottom: 90px;
            h1{
                font-size: $mobile-font-size-h1;
            }


                li{
                    font-size: 12px;
                    padding-right: 10px;
                }
        }
    }

    @include roomspecs;
}