@use "../base/_typographie.scss";
@use "../utilities/_variables.scss" as *;
@use "../utilities/colors" as *;



@mixin Montserat{
    font-family: $headings-font;
    font-weight: bold;
    
}
@mixin Hind{
    font-family: $paragraphs-font;
    
}

@mixin hero_base {
    background-position: center;
    background-position: top;
    .header__title{
        display:flex;
        flex-direction: column;
        align-items: center;
        h1{
            @include Montserat();
            color: white; 
            i{
                color:$red;
            }  
        }
    }
    
}