@use "../base/_typographie.scss";



@mixin Montserat{
    font-family: "Montserrat";
    
}

@mixin Hind{
    font-family:"Hind";
}

@mixin nolinkchange{
    text-decoration: none;
    color:$global_font_color;
}