@use "../base/_typographie.scss";
@use "./colors" as *; 



@mixin Montserat{
    font-family: "Montserat";
    
}

@mixin Hind{
    font-family:"Hind";
}

@mixin nolinkchange{
    text-decoration: none;
    color:$global_font_color;
}

@mixin hidesocial{
    .fa-tripadvisor .fa-google-plus-official{
    visibility: hidden;
    }
}