<<<<<<< HEAD
=======



>>>>>>> 72984e1813d6d47201308ee5a8672669f6c0fb4f
@use "../base/_typographie.scss";

$headings-font: 'Montserrat';
$paragraphs-font: 'Hind';
//variables for screen widht in media querrys

$desktop-min-width: 769px;
$mobile-max-width: 412px;
$tablet-max-width: 768px;

$footer-padding: 1rem;
$spaceing_lines: 0,5rem;

$mobile-font-size-h1: 32px;
$mobile-font-size-h2: 19px;
$mobile-font-size-h3: 21px;
$mobile-font-size-p: 14px;
$mobile-font-size-txt: 10px;

$desktop-font-size-h1: 120px;
$desktop-font-size-h2: 44px;
$desktop-font-size-h3: 32px;
$desktop-font-size-p: 16px;
$desktop-font-size-txt: 11px;

$blogs-font-size-h1:34px; 
$blogs-font-weight-h1:bold;



