@use "../base/_typographie.scss";

$headings-font: 'Montserrat';
$paragraphs-font: 'Hind';

$mobile-font-size-h1: 32px;
$mobile-font-size-h2: 19px;
$mobile-font-size-h3: 21px;
$mobile-font-size-p: 14px;
$mobile-font-size-txt: 10px;

$desktop-font-size-h1: 120px;
$desktop-font-size-h2: 44px;
$desktop-font-size-h3: 32px;
$desktop-font-size-p: 16px;
$desktop-font-size-txt: 11px;