/* Error: expected "{".
 *   ,
 * 3 | @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:ital,wght@0,400;0,700;1,500;1,700&family=Open+Sans:wght@400;700;800&display=swap');
 *   |                                                                                                                                                                                 ^
 *   '
 *   resources/scss/base/_typographie.scss 3:177  @use
 *   resources/scss/pages/_about.scss 1:1         @use
 *   resources/scss/style.scss 2:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a   \2577 \a 3 \2502  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:ital,wght@0,400;0,700;1,500;1,700&family=Open+Sans:wght@400;700;800&display=swap');\a   \2502                                                                                                                                                                                  ^\a   \2575 \a   resources/scss/base/_typographie.scss 3:177  @use\a   resources/scss/pages/_about.scss 1:1         @use\a   resources/scss/style.scss 2:1                root stylesheet";
}
