@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex_column{
    display: flex;
    flex-direction: column;
}
@mixin flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}