@use "../utilities/colors" as *;
@use "../utilities/variables" as *;
@use "./grid" as *;
@use "../utilities/mixins" as *;
@use "./flex"as *;


.footer{
    background-color: $darkest_background;
    font-family: "Hind";
    color: $global_font_color;
    .white{
        color: $white_title;}
    .footer__title{
        font-family: "Monserrat";
        font-weight: 700;
    }
    .footer__box{
        padding: 10px;
        
        .footer__head{
            @include flex_row;
            
            .redline{
                height: 1px;
                width: 20%;
                margin-right:70%;
                background-color: $red;
                border: none;
            }
        }
    }

    .copyright{
        @include flex_column;
        @include center;

    }

    .links{
        @include flex_column;
    }
    
    .link .link:visited{
        @include nolinkchange;
    
}

}

@media only screen and (max-width: $mobile-max-width) {
    .footer__grid{
    @include grid_1_5_footer;
}
@include hidesocial;
    

}

@media only screen and (min-width:413px) and (max-width:$tablet-max-width){
    .footer__grid{
    @include grid_4_2_footer;
    
}
@include hidesocial;
}



@media only screen and (min-width: $desktop-min-width) {
    .footer__grid{
    @include grid_4_2_footer;
    
}
}

