@use "../utilities/colors" as *;
@use "../utilities/variables" as *;
@use "./grid" as *;
@use "../utilities/mixins" as *;


.footer{
    background-color: $darkest_background;
    color: $global_font_color;
    .footer__title{
        @include Montserat;
        color: $white_title;
        
    }

}

@media only screen and (max-width: $mobile-max-width) {
    .footer__grid{
    background-color: rebeccapurple;
    @include grid_1_5_footer;
}

    

}

@media only screen and (min-width:$mobile-max-width) and (max-width:$desktop-min-width) {
    .footer__grid{
    background-color: blue;
    @include grid_4_2_footer;
}
}



@media only screen and (min-width: $desktop-min-width) {
    .footer__grid{
    background-color: red;
    @include grid_4_2_footer;
    
}
}



